@import "tailwindcss";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: white;
    background: rgb(8, 8, 62);
    background: linear-gradient(
        0deg,
        rgba(5, 5, 46, 1) 0%,
        rgba(0, 0, 0, 1) 100%
    );
}

body::before {
    content: "🌎";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20em;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
    animation: globeCycle 2s infinite;
}

@keyframes globeCycle {
    0%,
    33.33% {
        content: "🌏";
    }
    33.34%,
    66.66% {
        content: "🌍";
    }
    66.67%,
    100% {
        content: "🌎";
    }
}

.link {
    @apply text-blue-700 decoration-solid underline;
}
.link:active {
    @apply text-violet-700 decoration-solid underline;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn.selected {
    @apply bg-blue-700;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.title {
    @apply text-3xl font-bold;
}

.center {
    @apply grid place-items-center h-screen;
}

.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confetti-emoji {
    font-size: 4rem;
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none;
}

.confetti-emoji:hover {
    transform: scale(1.2);
}
