/* Default styles (light mode) */
html[data-theme="light"] {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(230, 223, 203));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

/* Dark mode styles */
html[data-theme="dark"] {
        background-image: linear-gradient(to bottom right, rgb(20, 20, 20), rgb(0, 0, 0));
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        margin: 0;
        padding: 0;
        color: white;
    }